@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .scrollbar::-webkit-scrollbar {
        width: 8px;
        height: 10px;
    }

    /* .scrollbar::-webkit-scrollbar-track {
        border-radius: 100vh;
        background: #ffffff;
    } */

    .scrollbar::-webkit-scrollbar-thumb {
        background: #bdbdbd;
        border-radius: 100vh;
    }

    .scrollbar::-webkit-scrollbar-thumb:hover {
        background: #848484;
    }
}